body{
    background-color: #0D1117;
    margin: 50px
}

#container-Logo img{
    width:30%
}

#container-Logo{
    background-color: white;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 30px
}

#card{
    width: 80%;
    border: 1px solid white;
    margin: auto;
    border-radius: 30px;
    margin-top: 30px;
}



#card h1{
    color: white;
    margin-left: 30px;
    display: inline-block;
}

#card h2{
    display: inline-block;
    float: right;
    margin-right: 30px;
    color:white
}

